Repository vinli0921/product-recommender-system: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8-warn, eslint-warn, helm-lint-warn

flake8-warn:
  name: Flake8 (warning only)
  entry: bash -c 'flake8 --max-line-length=99 --extend-ignore=E203,W503 . || true'
  language: system
  pass_filenames: false

eslint-warn:
  name: ESLint (warning only)
  entry: bash -c 'cd frontend && npm run lint || true'
  language: system
  pass_filenames: false

helm-lint-warn:
  name: Helm Lint (warning only)
  entry: bash -c 'helm lint helm/product-recommender-system/ || true'
  language: system
  pass_filenames: false

fix: restore namespace-specific RoleBinding naming for model registry
  helm/product-recommender-system/templates/model-registry.yaml
Due: helm-lint-warn

fixup! chore: add flake8 support for python files, add prettier for react and fix code style issues
  .github/workflows/pr-checks.yml
  .pre-commit-config.yaml
  backend/pyproject.toml
  pyproject.toml
  scripts/pre-push-commit-limit.sh
Due: none

sort imports
  .github/workflows/pr-checks.yml
  .pre-commit-config.yaml
  README.md
  backend/database/fetch_feast_users.py
  backend/main.py
  backend/routes/auth.py
  backend/routes/cart.py
  backend/routes/feedback.py
  backend/routes/health.py
  backend/routes/interactions.py
  backend/routes/orders.py
  backend/routes/preferences.py
  backend/routes/products.py
  backend/routes/recommendations.py
  backend/routes/wishlist.py
  backend/services/feast/feast_service.py
  backend/tests/routes/health_test.py
Due: flake8-warn

style: add prettier pr-check for react file
  .github/workflows/pr-checks.yml
  .pre-commit-config.yaml
Due: none

change images version to latest
  helm/product-recommender-system/values.yaml
Due: helm-lint-warn

Revert "change images version to latest"
  helm/product-recommender-system/values.yaml
Due: helm-lint-warn

remove unused file for backend image
  backend/Containerfile
Due: none

push new image of frontend and backend to quay.io/rh-ai-kickstart/product-recommender-frontend-backend
  .github/workflows/build-and-push.yml
  helm/product-recommender-system/templates/backend.yaml
  helm/product-recommender-system/values.yaml
Due: helm-lint-warn

Update build-and-push.yml
  .github/workflows/build-and-push.yml
Due: none

add route for the frontend
  helm/product-recommender-system/templates/backend.yaml
  helm/product-recommender-system/values.yaml
Due: helm-lint-warn

Update Containerfile
  Containerfile
Due: none

Update auth.ts - removed unused package
  frontend/src/services/auth.ts
Due: eslint-warn

Frontend Updates: Auth & Preferences (#66)
  frontend/package.json
  frontend/src/components/Gallery.tsx
  frontend/src/components/account-page.tsx
  frontend/src/components/app-masthead.tsx
  frontend/src/components/preferences.tsx
  frontend/src/components/product-card.tsx
  frontend/src/components/product-details.tsx
  frontend/src/components/user-dropdown.tsx
  frontend/src/contexts/AuthProvider.tsx
  frontend/src/hooks/useAuth.ts
  frontend/src/hooks/useComposite.ts
  frontend/src/hooks/usePreferences.ts
  frontend/src/hooks/useRecommendations.ts
  frontend/src/routeTree.gen.ts
  frontend/src/routes/_protected/preferences.tsx
  frontend/src/services/api.ts
  frontend/src/services/preferences.ts
  frontend/src/services/products.ts
  frontend/src/services/products.tsx
  frontend/src/services/recommendations.ts
  frontend/src/types.d.ts
Due: eslint-warn

Update useComposite.ts (#69)
  frontend/src/hooks/useComposite.ts
Due: eslint-warn

Test run build
  frontend/src/components/preferences.tsx
  frontend/src/hooks/useOptimistic.ts
Due: eslint-warn

Auto push to quay repo on merging commit to main
  .github/workflows/build-and-push.yml
Due: none

print the frontend url
  helm/Makefile
Due: helm-lint-warn

Removed usage of /api in all API calls in the frontend (#73)
  frontend/src/contexts/README.md
  frontend/src/services/README.md
  frontend/src/services/auth.ts
  frontend/src/services/cart.ts
  frontend/src/services/feedback.ts
  frontend/src/services/interactions.ts
  frontend/src/services/orders.ts
  frontend/src/services/preferences.ts
  frontend/src/services/products.ts
  frontend/src/services/products.tsx
  frontend/src/services/recommendations.ts
  frontend/src/services/wishlist.ts
  frontend/src/utils/logging/README.md
  frontend/vite.config.ts
Due: eslint-warn

style: add end of line to yamls
  .pre-commit-config.yaml
  helm/product-recommender-system/templates/backend.yaml
  helm/product-recommender-system/templates/run-pipeline-job.yaml
  helm/product-recommender-system/values.yaml
Due: helm-lint-warn

implement cart backend funtionality - pay attention to data types
  backend/database/models_sql.py
  backend/main.py
  backend/models.py
  backend/routes/cart.py
Due: flake8-warn

add cart to frontend
  frontend/src/components/app-masthead.tsx
  frontend/src/components/cart-dropdown.tsx
  frontend/src/components/cart-icon.tsx
  frontend/src/services/api.ts
  frontend/src/types.d.ts
Due: eslint-warn

flake8 fix
  backend/main.py
  backend/pyproject.toml
  backend/routes/cart.py
Due: flake8-warn

flake8 fix
  backend/services/kafka_service.py
Due: flake8-warn

flake8 fix
  backend/database/models_sql.py
Due: flake8-warn

flake8 fix
  backend/database/models_sql.py
  backend/pyproject.toml
  backend/routes/cart.py
  backend/services/kafka_service.py
Due: flake8-warn

test: add tavern integration test
  .gitignore
  .pre-commit-config.yaml
  frontend/package-lock.json
  frontend/package.json
  tests/README.md
  tests/integration/__init__.py
  tests/integration/run_integration_tests.sh
  tests/integration/test_endpoints.tavern.yaml
  tests/integration/test_user_search.tavern.yaml
  tests/integration/test_user_signup_and_signin.tavern.yaml
  tests/integration/tests_helpers.py
Due: flake8-warn

pre commit
  helm/product-recommender-system/templates/backend.yaml
  helm/product-recommender-system/values.yaml
Due: helm-lint-warn

pre commit
  backend/pyproject.toml
  backend/routes/cart.py
  backend/services/kafka_service.py
Due: flake8-warn

pre commit prettier
  frontend/src/components/cart-dropdown.tsx
  frontend/src/components/cart-icon.tsx
Due: eslint-warn

ignore .venv
  .pre-commit-config.yaml
Due: none

style: fix imports
  .pre-commit-config.yaml
  backend/database/models_sql.py
  backend/main.py
  backend/routes/cart.py
  backend/services/kafka_service.py
Due: flake8-warn

style: exclude .venv from style check
  .pre-commit-config.yaml
Due: none

Path conditions:
  flake8-warn: any of: .*\.py$
  eslint-warn: any of: ^frontend/.*\.(js|jsx|ts|tsx)$
  helm-lint-warn: any of: ^helm/.*$
